body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.coin-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.coin-group img {
    margin-right: 20px;
}

.coin {
    width: 100px;
    height: 100px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.coin-info {
    margin-right: 15px;
    font-weight: bold;
    color: #333;
}